---
import { ExperienceInfo } from '../utils/content'
import PressLetter from './PressLetter.astro'

const { title, experiences } = ExperienceInfo
---

<section
  id='experiences'
  class='section__info bg-orange-500/80 px-8 py-8 text-white opacity-0 duration-300 md:px-16 md:py-16'
>
  <h2 class='font-regular mb-8 flex items-end text-4xl md:text-6xl'>
    {title}<PressLetter letter='3' />
  </h2>
  {
    experiences.map(
      ({
        role,
        date,
        company,
        type,
        location,
        responsibilities,
        keyAccomplishments
      }) => (
        <div class='flex flex-col space-y-6'>
          <div class='font-regular flex justify-between'>
            <div class='text-xl font-medium'>
              <p>{role}</p>
              <p>
                <span class='font-thin'>at&nbsp;</span>
                {company}
              </p>
            </div>
            <div class='text-lg'>{date}</div>
          </div>

          <div class='text-lg'>
            <p>• {type}</p>
            <p>• {location}</p>
          </div>

          <div>
            <h4 class='text-lg font-bold'>Responsibilities</h4>
            <ul>
              {responsibilities?.map((item, index) => (
                <li class='my-1 ml-[5px] md:ml-[10px]'>{item}</li>
              ))}
            </ul>
          </div>

          <div>
            <h4 class='text-lg font-bold'>Key Accomplishments</h4>
            <ul>
              {keyAccomplishments?.map((item, index) => (
                <li class='my-1 ml-[5px] md:ml-[10px]'>{item}</li>
              ))}
            </ul>
          </div>
        </div>
      )
    )
  }
</section>
