---
import DarkModeSwitch from './DarkModeSwitch.astro'
import MenuOptions from './MenuOptions.astro'

import { Github, Html, ReactJS, Tailwind, Docker, Javascript } from './svg'

const svg_common_classes =
  ' w-12 h-12 text-gray-800 dark:text-white hover:rotate-12 hover:text-orange-500 dark:hover:text-orange-500 duration-300 hover:scale-110 '
---

<div class='relative flex h-full w-full flex-col justify-between font-poiret'>
  <header
    class='relative mx-0 flex flex-row items-center justify-end md:mx-10 xl:mx-0'
  >
    <div class='absolute flex w-full items-center justify-between md:top-0 -top-5'>
      <h1
        transition:animate='slide'
        class='mb-4select-none text-center text-4xl font-bold text-gray-800 dark:text-white md:mb-0 md:text-left'
      >
        Software <span class='font-thin'>Developer</span>
      </h1>
    </div>
    <div
      class={`
        fixed md:top-8 right-4 md:right-auto md:bottom-auto bottom-10
        flex flex-row justify-between items-center gap-x-4
        py-2 px-4 dark:bg-slate-800/80 bg-slate-100/50 rounded-full
        shadow-sm hover:shadow-xl mr-1 duration-300 z-50
        backdrop-blur-sm
        `}
      id='menu'
    >
      <DarkModeSwitch />
      <div class='h-10 w-2 rounded-full bg-[#efeae3] dark:bg-[#1d2022]'></div>
      <div class='relative h-8 w-8'>
        <MenuOptions />
      </div>
    </div>

    <div
      class='relative flex h-full w-full flex-col-reverse justify-evenly mt-40 md:mt-60 lg:mt-96 md:flex-col md:justify-start'
    >
      <section class='flex w-full justify-center pb-10'>
        <h1
          class='notranslate text-center text-6xl font-bold md:text-9xl xl:text-[120px]'
        >
          Silvestri&nbsp;<snap class='notranslate font-thin text-orange-500'
            >Javier</snap
          >
        </h1>
      </section>

      <footer class='relative z-10 flex flex-row justify-center'>
        <Github
          classProps={`absolute -top-2 md:top-2 left-[10%] md:left-[20%] ${svg_common_classes}`}
        />
        <Docker
          classProps={`hidden md:block absolute bottom-[45%] left-5 md:left-[15%] ${svg_common_classes}`}
        />
        <Html
          classProps={`absolute -bottom-2 md:bottom-2 left-[10%] md:left-[20%] ${svg_common_classes}`}
        />

        <ReactJS
          classProps={`absolute -top-2 md:top-2 right-[10%] md:right-[20%] ${svg_common_classes}`}
        />
        <Javascript
          classProps={`hidden md:block absolute bottom-[45%] right-5 md:right-[15%] ${svg_common_classes}`}
        />
        <Tailwind
          classProps={`absolute -bottom-2 md:bottom-2 right-[10%] md:right-[20%] ${svg_common_classes}`}
        />

        <div class='h-[250px] w-[250px] md:h-[400px] md:w-[400px]'>
          <picture class='z-30 rounded-full'>
            <source srcset={`metoo.jpeg`} type='image/png' />
            <img
              id='header-main-image'
              src={`metoo.jpeg`}
              alt={`me shot image`}
              title='Hi there!'
              class='h-full w-full rounded-full shadow-xl shadow-black/30 duration-200 hover:-rotate-6 hover:shadow-orange-500/30 hover:dark:shadow-orange-500/30'
            />
          </picture>
        </div>
      </footer>
    </div>
  </header>
</div>
