---
import ProjectItem from './ProjectItem.astro'

import PressLetter from './PressLetter.astro'
import { ProjectsInfo } from '../utils/content'

const { title, projects } = ProjectsInfo
---

<section
  id='projects'
  class='bg-gradient-to-b from-transparent via-orange-500/50'
>
  <header>
    <h1
      class='font-regular flex items-end py-1 pl-8 font-sans text-4xl md:py-16 md:pl-16 md:text-6xl'
    >
      {title}<PressLetter letter='5' />
    </h1>
  </header>
  <ul
    role='list'
    class='flex flex-wrap items-start justify-center overflow-hidden font-sans'
  >
    {
      projects.map(({ id, href, name, body, img }) => (
        <ProjectItem id={id} href={href} title={name} body={body} img={img} />
      ))
    }
  </ul>
</section>

<script>
  const animateProjects = () => {
    const listItems = document.querySelectorAll('li')

    window.onscroll = () => {
      listItems.forEach((item) => {
        let top = window.scrollY
        let offset = item.offsetTop - 600
        let height = item.offsetHeight

        if (top >= offset && top < offset + height) {
          item.classList.add('active-project-animation')
        }
      })
    }
  }
  animateProjects()

  document.addEventListener('astro:after-swap', animateProjects)
</script>

<style is:global>
  .work-chefco .animate-h-one,
  .work-tesla .animate-h-one,
  .work-rockets .animate-h-one,
  .work-euge .animate-h-one,
  .work-chefco .animate-h-two,
  .work-tesla .animate-h-two,
  .work-rockets .animate-h-two,
  .work-euge .animate-h-two {
    /* transition: 0.8s; */
    transition:
      opacity 0.8s,
      transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
  }

  .work-chefco .animate-h-one,
  .work-tesla .animate-h-one,
  .work-rockets .animate-h-one,
  .work-euge .animate-h-one {
    transform: translateX(-100%);
  }

  .work-chefco .animate-h-two,
  .work-tesla .animate-h-two,
  .work-rockets .animate-h-two,
  .work-euge .animate-h-two {
    transform: translateX(100%);
  }

  .work-chefco.active-project-animation .animate-h-one,
  .work-tesla.active-project-animation .animate-h-one,
  .work-rockets.active-project-animation .animate-h-one,
  .work-euge.active-project-animation .animate-h-one {
    animation: slide-bounce-in-1 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards;
    opacity: 1;
  }

  .work-chefco.active-project-animation .animate-h-two,
  .work-tesla.active-project-animation .animate-h-two,
  .work-rockets.active-project-animation .animate-h-two,
  .work-euge.active-project-animation .animate-h-two {
    /* transform: translateX(0); */
    animation: slide-bounce-in-2 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards;
    opacity: 1;
  }

  @keyframes slide-bounce-in-1 {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-bounce-in-2 {
    0% {
      transform: translateX(100%) rotate(-6deg);
    }
    60% {
      transform: translateX(0) rotate(-6deg);
    }
    80% {
      transform: translateX(10px) rotate(-6deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
</style>
