---
import {
  Css, Git, Github, Html, Javascript, ReactJS, Sql, Tailwind, Terminal,
  Flutter,
  Dart,
  NodeJS,
  AstroIcon,
  GoLang,
  Docker,
  Redis,
  Mongo,
} from "./svg";

import { SkillsInfo } from "../utils/content";
import PressLetter from "./PressLetter.astro";

const { title } = SkillsInfo
const classProps = "m-3 hover:rotate-6 w-10 lg:h-12 lg:w-12 h-10"
const classPropsLi = `
  hover:bg-gradient-to-br hover:from-orange-100 hover:to-transparent
  hover:shadow-lg  duration-300
  rounded-2xl
  hover:text-orange-500
  hover:scale-110
`
---

<section id="skills" class="section__info px-8 md:px-16 py-8 md:py-24 opacity-0 duration-300 curs">
  <h2 class="font-regular text-4xl md:text-6xl mb-8 flex items-end">{title}<PressLetter letter="4" /></h2>
  <ul class="flex flex-row justify-center flex-wrap gap-2 max-w-xl md:max-w-xl m-auto hover:cursor-none">
    <li class={classPropsLi}><Javascript classProps={classProps} /></li>
    <li class={classPropsLi}><Html classProps={classProps} /></li>
    <li class={classPropsLi}><Css classProps={classProps} /></li>
    <li class={classPropsLi}><ReactJS classProps={classProps} /></li>
    <li class={classPropsLi}><Tailwind classProps={classProps} /></li>
    <li class={classPropsLi}><Github classProps={classProps} /></li>
    <li class={classPropsLi}><Git classProps={classProps} /></li>
    <li class={classPropsLi}><Terminal classProps={classProps} /></li>
    <li class={classPropsLi}><Sql classProps={classProps} /></li>
    <li class={classPropsLi}><Flutter classProps={classProps} /></li>
    <li class={classPropsLi}><Dart classProps={classProps} /></li>
    <li class={classPropsLi}><NodeJS classProps={classProps} /></li>
    <li class={classPropsLi}><AstroIcon classProps={classProps} /></li>
    <li class={classPropsLi}><GoLang classProps={classProps} /></li>
    <li class={classPropsLi}><Docker classProps={classProps} /></li>
    <li class={classPropsLi}><Redis classProps={classProps} /></li>
    <li class={classPropsLi}><Mongo classProps={classProps} /></li>
  </ul>
</section>
